@font-face {
    font-family: 'Comic_relief';
    src: url('fonts/ComicRelief-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Liberation_sans';
    src: url('fonts/Liberation_sans/LiberationSans-Regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Liberation_sans - Gras';
    src: url('fonts/Liberation_sans/LiberationSans-Bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Liberation_sans - Italique';
    src: url('fonts/Liberation_sans/LiberationSans-Italic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Liberation_sans - Gras&Italique';
    src: url('fonts/Liberation_sans/LiberationSans-BoldItalic-webfont.woff') format('woff');
}
::selection
{
    background-color: turquoise;
}
body
{
    background-color: chocolate;
    font-family: 'Liberation_sans';
    font-size: 16px;
}
header
{
    background-image: url("img/np.png");
}
h1
{
    display: flex;
    font-size: 45px;
    font-family: comic_relief;
    justify-content: center;
    margin: 10px;
    position: relative;
    top: 8px;
}
h1 a
{
    text-decoration: none;
    color: black;
}
#menu
{
    display: flex;
    list-style: none;
    font-size: 26px;
    text-align: center;
    justify-content: center;
}
.item
{
    display: inline-block;
    font-family: 'Liberation_sans - Gras';
    width: 180px;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    transition: 0.5s;
}
.item:hover
{
    transform: scale(1.1);
}
#maths
{
    background-color: purple;
}
#maths:hover
{
    background-color: blue;
}
#geo
{
    background-color: green;
}
#geo:hover
{
    background-color: yellowgreen;
}
#jeux
{
    background-color: red;
}
#jeux:hover
{
    background-color: orange;
}
p, ul, ol
{
    font-size: 18px;
}
#fin
{
    list-style: none;
}
h2
{
    font-size: 28px;
    display: inline;
    background-color: orange;
    text-decoration: underline;
}
.mur
{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
}
.carte
{
    width: 43%;
    vertical-align: bottom;
    border: 2px solid black;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
    overflow: auto;
}
.carte p, figcaption p
{
    text-align: justify;
}
#cmaths
{
    background-color: blueviolet;
}
#cgeo
{
    background-color: yellowgreen;
    display: flex;
    justify-content: space-around;
}
#cjeux
{
    background-color: yellow;
    margin: auto;
    margin-top: 20px;
}
.doc
{
   display: flex;
   flex-direction: column;
}
.btn
{
    display: inline-block;
    font-size: 23px;
    width: 150px;
    background-color: red;
    text-align: center;
    margin: 15px;
    box-shadow: 0px 0px 3px black;
    text-decoration: none;
    color: black;
    vertical-align: bottom;
}
.btn:hover
{
    box-shadow: 0px 0px 8px black;
}
