/*Polices*/
@font-face {
    font-family: 'Comic_relief';
    src: url('fonts/ComicRelief-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Liberation_sans';
    src: url('fonts/Liberation_sans/LiberationSans-Regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Liberation_sans - Gras';
    src: url('fonts/Liberation_sans/LiberationSans-Bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Liberation_sans - Italique';
    src: url('fonts/Liberation_sans/LiberationSans-Italic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Liberation_sans - Gras&Italique';
    src: url('fonts/Liberation_sans/LiberationSans-BoldItalic-webfont.woff') format('woff');
}

/*Général*/
::selection
{
    background-color: turquoise;
}
body
{
    background-color: chocolate;
    font-family: 'Liberation_sans';
    font-size: 17px;
}
h2
{
    font-size: 1.6em;
    display: inline;
    background-color: orange;
    text-decoration: underline;
}
em
{
    font-family: Liberation_sans - Italique;
}

/*En-tête*/
header
{
    background-image: url("img/np.png");
    text-align: center;
}
h1
{
    display: flex;
    font-size: 2.8em;
    font-family: comic_relief;
    justify-content: center;
    margin: 10px;
    position: relative;
    top: 8px;
}
h1 #titre
{
    text-decoration: none;
    color: black;
    background-color: yellow;
}
#menu
{
    display: flex;
    list-style: none;
    font-size: 1.8em;
    justify-content: center;
}
.item
{
    display: inline-block;
    text-align: center;
    font-family: 'Liberation_sans - Gras';
    width: 180px;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    transition: 0.05s;
}
.item:hover
{
    transform: scale(1.1);
}
#maths
{
    background-color: purple;
}
#maths:hover
{
    background-color: blue;
}
#geo
{
    background-color: green;
}
#geo:hover
{
    background-color: yellowgreen;
}
#jeux
{
    background-color: red;
}
#jeux:hover
{
    background-color: orange;
}

/*Spécifique*/
#fin
{
    list-style: none;
}
.mur
{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
}
.carte
{
    width: 45%;
    vertical-align: bottom;
    border: 2px solid black;
    text-align: center;
    padding: 4px;
    margin: 8px;
    border-radius: 5px;
    overflow: auto;
}
.description
{
    text-align: justify;
    padding: 5px;
    
}
.cmaths
{
    background-color: blueviolet;
}
.cgeo
{
    background-color: yellowgreen;
    display: flex;
    justify-content: space-around;
}
.cjeux
{
    background-color: yellow;
}
.coté
{
    flex-grow: 1;
}

/*Boutons*/
.btn
{
    display: inline-block;
    font-size: 1.2em;
    width: 150px;
    background-color: red;
    text-align: center;
    margin: 15px;
    box-shadow: 0px 0px 2px black;
    text-decoration: none;
    color: black;
    vertical-align: bottom;
    transition: 0.2s;
}
.btn:hover
{
    box-shadow: 0px 0px 12px black;
    transform: scale(1.1);
}